
* { margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro ",sans-serif;
}

html {
font-size: 62%;
}

.main-div {
  min-height: 1vh;
  display: flex;
  justify-content: center;
  height: 50%;
  width: auto;
  
}
.child-div {
text-align: center;
margin-top: 5rem;

} 

